[Unit]
Description=Generate unique hostname
Requires=network.target
After=local-fs.target network.target
Before=avahi-daemon.service cockpit.service revo-web-dispatch.service
Before=system-update-pre.target
ConditionPathExists=!/etc/hostname

[Service]
Type=oneshot

# Give network queuing disciplines time to be loaded.
ExecStartPre=/bin/sleep 4
ExecStart=/bin/bash -c '/usr/sbin/commit-hostname'

[Install]
WantedBy=network.target
