[Unit]
Description=Recover eMMC
DefaultDependencies=no
Requires=sysinit.target
After=sysinit.target
After=system-update-pre.target
Before=system-update.target
ConditionKernelCommandLine=recovery_request

[Service]
Type=oneshot
ExecStart=/usr/sbin/recover-emmc
ExecStartPost=/bin/systemctl reboot
FailureAction=reboot
