[Unit]
Description=Redirect web ports
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/usr/sbin/redirect-web-ports enable
ExecStop=-/usr/sbin/redirect-web-ports disable

[Install]
WantedBy=multi-user.target
