[Unit]
Description=Allow USB boot after post-recovery boot.
After=multi-user.target

[Service]
Type=oneshot
ExecStart=ln -s opt/images/Debian /system-update

[Install]
WantedBy=multi-user.target
